<%= form_with(model: @task, local: true, url: choose_path, method: choose_request) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %><%= t('view.have_error') %></h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('view.task_name') %>
    <%= f.text_field :name, id: "task_name" %><br>
    <%= f.label t('view.content') %>
    <%= f.text_field :details, id: "task_content" %><br>
    <%= f.label t('view.expired_at') %>
    <%= f.date_field :expired_at %><br>
    <%= f.label t('view.status') %>
    <%= f.select :status, Task.statuses.keys %><br>
    <%= f.submit t('view.task_registration') %>
  </div>
<% end %>
