<%= form_with(model: @task, local: true, url: choose_path, method: choose_request) do |f| %>
  <% if @task.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
      <h2><%= @task.errors.count %><%= t('view.have_error') %></h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="padding:0 30px 0 30px;">
    <div class="form-group">
      <label class="col-form-label" for="inputDefault"><%= f.label t('view.task_name') %></label>
      <%= f.text_field :name, id: "task_name", class: "form-control", placeholder: t('view.task_name') %>
    </div>
    <div class="form-group">
      <label class="col-form-label" for="inputDefault"><%= f.label t('view.content') %></label>
      <%= f.text_field :details, id: "task_content", class: "form-control", placeholder: t('view.content') %>
    </div>
    <%= f.label t('view.expired_at') %><br>
    <%= f.date_field :expired_at %><br><br>
    <%= f.label t('view.status') %>
    <%= f.select :status, Task.statuses.keys, {}, {class: 'custom-select', id: 'value'} %><br><br>
    <%= f.label t('view.priority') %>
    <%= f.select :priority, Task.priorities.keys, {}, {class: 'custom-select', id: 'value'} %><br><br>
    <%= f.label t('view.priority') %>
    <%= f.select :priority, Task.priorities.keys, {}, {class: 'custom-select', id: 'value'} %><br><br>
    <%= f.submit t('view.task_registration') %>
  </div>
<% end %>
