<br>
<legend><%= t('view.task') %><%= t('view.edit') %><%= t('view.display') %></legend>

<%= render 'form'%>


<br>
<div class="field" style="padding:0 30px 0 30px;">
  <%= link_to t('view.back'), admin_users_path %>
</div>
<br>
